APP_ENV=local
DB_PATH=./data/app.db

PORTAL_NAME=orangehrm
# PORTAL_NAME=saucedemo

ORANGEHRM_URL=https://opensource-demo.orangehrmlive.com/web/index.php/auth/login
ORANGEHRM_USERNAME={orangehrm_username}
ORANGEHRM_PASSWORD={orangehrm_password}

SAUCEDEMO_URL=https://www.saucedemo.com
SAUCEDEMO_PASSWORD={saucedemo_password}

REPORT_EMAIL={report_recipient_email}

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME={smtp_username}
SMTP_PASSWORD={smtp_password_or_app_password}
SMTP_USE_TLS=true
SMTP_FROM={smtp_from_email}